body {
  background-color: #050506;
  font-family: 'Roboto', sans-serif;
}

.App-header {
  background-color: #050506;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.formContainer {
  color: white;
}

.transparent-textbox {
  background: transparent;
}

input[type="file"] {
  display: none;
}

.file-upload-container {
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 90px;
}

.custom-file-upload {
  border-radius: 10px;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}